@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and old Edge */
  scrollbar-width: none;     /* Firefox */
}


/* globals.css */
.video-overlay {
  transition: opacity 0.3s ease-in-out;
}
.video-overlay.hidden {
  opacity: 0;
}